@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:500,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}

button {
    border: none;
    color: white;
    font-family: 'IBM Plex Mono', monospace;
    cursor: pointer;
}

body {
    font-family: 'IBM Plex Mono', monospace;
    width: 100%;
    height: 100vh;
    display: flex;
    background: #000;
    background-image: linear-gradient(#121212 .1em, transparent .1em), linear-gradient(90deg, #121212 .1em, transparent .1em);
    background-size: 100px 100px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

header {
    width: calc(100vw - 170px);
    height: calc(100vh - 30px);
    border: 1px solid white;
    position: relative;
    margin: auto auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__header-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    align-items: center;
    position: absolute;
    top: 0;
}

.header-nav__block-right {
    width: 390px;
    display: flex;
    justify-content: space-between;
}

.standart-button {
    width: 170px;
    height: 40px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.2);
}

.header__title-block {
    text-align: center;
    font-weight: 500;
    z-index: 10;
}
.header__h1{font-size: 90px;line-height: 120px;font-weight: 500;}
.header__h3{font-size: 25px;font-weight: 500;}

.header__img-background{position: absolute;z-index: 0;}
.header__header-footer{position: absolute;bottom: 0;width: 100%;color:rgba(255, 255, 255, 0.5);}
.header__header-footer a{color:rgba(255, 255, 255, 0.5)}